<app-navbar></app-navbar>
<div class="cintillo d-flex justify-content-center">
  <img
    src="https://www.efe.com.pe/media/wysiwyg/EFE-CINTILLO-retiro-1_3.jpg"
    height="60px"
  />
</div>

<app-carrusel-home></app-carrusel-home>

<div class="container">
  <div class="d-flex justify-content-center mt-4 mb-1">
    <img
      src="https://www.efe.com.pe/media/wysiwyg/efe-boton-fonocompras.png"
      width="25%"
      class="me-2"
    />
    <img
      src="https://www.efe.com.pe/media/wysiwyg/efe-botones-accion-2a_1.png"
      width="25%"
      class="me-2"
    />
    <img
      src="https://www.efe.com.pe/media/wysiwyg/efe-botones-accion-3_1.png"
      width="25%"
      class="me-2"
    />
    <img
      src="https://www.efe.com.pe/media/wysiwyg/efe-botones-accion-4_1.png"
      width="25%"
      class="me-2"
    />
  </div>

  <app-carrusel-ofertas></app-carrusel-ofertas>

  <!--Imagenes Promocionales-->
  <div>
    <!--Linea 1-->
    <div class="row mb-3">
      <img
        src="https://www.efe.com.pe/media/wysiwyg/efe-bomba-LC32R500FHLXPE-1-1_1.jpg"
        class="col-6"
      />
      <img
        src="https://www.efe.com.pe/media/wysiwyg/efe-destacados-b2c-301023-01-01.jpg"
        class="col-3"
      />
      <img
        src="https://www.efe.com.pe/media/wysiwyg/efe-destacados-b2c-301023-02-01.jpg"
        class="col-3"
      />
    </div>
    <!--Linea 2-->
    <div class="row mb-3">
      <img
        src="https://www.efe.com.pe/media/wysiwyg/efe-destacados-b2c-301023-03-01.jpg"
        class="col-4"
      />
      <img
        src="https://www.efe.com.pe/media/wysiwyg/efe-destacados-b2c-301023-04-01.jpg"
        class="col-4"
      />
      <img
        src="https://www.efe.com.pe/media/wysiwyg/efe-destacados-b2c-301023-05-01.jpg"
        class="col-4"
      />
    </div>
    <!--Linea 3-->
    <div class="row mb-3">
      <img
        src="https://www.efe.com.pe/media/wysiwyg/efe-destacados-b2c-301023-06-01.jpg"
        class="col-6"
      />
      <img
        src="https://www.efe.com.pe/media/wysiwyg/efe-destacados-b2c-301023-07-01.jpg"
        class="col-6"
      />
    </div>
    <img
      src="https://www.efe.com.pe/media/wysiwyg/EFE-BANNER-PREMIUM-01_1_.jpg"
      class="w-100"
    />
  </div>
</div>

<!--Categorias-->
<div class="categorias w-100 text-white d-flex justify-content-center mb-5">
  <div class="px-3 d-flex justify-content-center align-items-center">
    <img src="{{ imagesPath }}/tv.svg" class="me-1" />
    <span>TELEVISORES</span>
  </div>
  <div class="px-3 d-flex justify-content-center align-items-center">
    <img src="{{ imagesPath }}/lavadora.svg" class="me-1" width="18px" />
    <span>ELECTROHOGAR</span>
  </div>
  <div class="px-3 d-flex justify-content-center align-items-center">
    <img src="{{ imagesPath }}/computadora.svg" class="me-1" width="30px" />
    <span>COMPUTACION</span>
  </div>
  <div class="px-3 d-flex justify-content-center align-items-center">
    <img src="{{ imagesPath }}/celular.svg" class="me-1" width="18px" />
    <span>CELULARES</span>
  </div>
  <div class="px-3 d-flex justify-content-center align-items-center">
    <img src="{{ imagesPath }}/sillon.svg" class="me-1" width="18px" />
    <span>SMART HOME</span>
  </div>
  <div class="px-3 d-flex justify-content-center align-items-center">
    <img src="{{ imagesPath }}/computadora.svg" class="me-1" width="30px" />
    <span>VIDEOJUEGOS</span>
  </div>
  <div class="px-3 d-flex justify-content-center align-items-center">
    <img src="{{ imagesPath }}/secadora.svg" class="me-1" width="16px" />
    <span>ACCESORIOS</span>
  </div>
  <div class="px-3 d-flex justify-content-center align-items-center">
    <img src="{{ imagesPath }}/cama.svg" class="me-1" width="18px" />
    <span>DORMITORIO</span>
  </div>
  <div class="px-3 d-flex justify-content-center align-items-center">
    <img src="{{ imagesPath }}/bicicleta.svg" class="me-1" width="20spx" />
    <span>DEPORTE</span>
  </div>
</div>

<app-carruseles></app-carruseles>
