.imagenes {
  height: 35rem;
  display: flex;
}

.swiper2 swiper-slide {
  height: auto;
}

.swiper2 img {
  width: 4.5rem;
  height: 4.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

.swiper {
  width: 80%;
  height: 100%;
}

.swiper swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.swiper2 .swiper-slide-thumb-active img {
  opacity: 1;
  border: 1px solid blue;
}
