<div class="barra py-3">
  <div class="container d-flex justify-content-between">
    <div class="d-flex flex-column align-items-center">
      <img src="https://mcprod.efe.com.pe/media/wysiwyg/footer/tienda.png" />
      <span class="span-1">RETIRA TU COMPRA EN TIENDA</span>
      <span class="span-2">200 tiendas y puntos de retiro en todo Perú</span>
    </div>

    <div class="d-flex flex-column align-items-center">
      <img src="https://www.efe.com.pe/media/wysiwyg/footer/envios.png" />
      <span class="span-1">ENVIOS A TODO PERU</span>
      <span class="span-2">Mas de 1800 distritos</span>
    </div>

    <div class="d-flex flex-column align-items-center">
      <img src="https://www.efe.com.pe/media/wysiwyg/footer/call.png" />
      <span class="span-1">ATENCION AL CLIENTE</span>
      <span class="span-2">(01)200-2890</span>
    </div>

    <div class="d-flex flex-column align-items-center">
      <img src="https://www.efe.com.pe/media/wysiwyg/footer/call.png" />
      <span class="span-1">CONTACTENOS POR WHATSAPP</span>
      <span class="span-2">943 199 200</span>
    </div>
  </div>
</div>


<div class="form">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="rounded-5 bg-primary p-2">
      <img src="{{ imagesPath }}/correo.svg" width="25px" />
    </div>
    <span class="txt-34 mb-1">Suscribete</span>
    <span class="txt-16 mb-3">Registrate y obten las ultimas ofertas</span>
  </div>

  <form>
    <div class="row g-2">
      <div class="col-9">
        <input type="text" placeholder="Email" class="form-control" />
      </div>

      <div class="col-3 d-grid">
        <button class="btn btn-outline-primary border-2 txt-14 txt-font-bold">
          Quiero suscribirme
        </button>
      </div>
    </div>
    <div class="form-check mt-2">
      <input type="checkbox" class="form-check-input" id="form-check" checked />
      <label class="form-check-label" for="form-check"
        >He leido y acepto los Terminos y condiciones</label
      >
    </div>
  </form>
</div>

<!--Footer-->
<div class="container d-flex justify-content-evenly my-5">
  <div class="">
    <img
      src="https://www.efe.com.pe/media/wysiwyg/footer/logo_footer.png"
      width="80px"
    />
  </div>

  <div class="d-flex flex-column">
    <div class="d-flex">
      <div class="d-flex flex-column mx-6 ms-0">
        <span class="txt-14 text-secondary text-secondary">MI CUENTA</span>
        <hr class="my-2" />
        <span class="txt-12 mb-1">Registrate</span>
        <span class="txt-12 mb-1">Inicia tu sesion</span>
        <span class="txt-12 mb-4">Sigue tu pedido</span>
        <span class="txt-14 text-secondary">NUESTRO SERVICIOS</span>
        <hr class="my-2" />
        <span class="txt-12 mb-1">Retiro en tienda</span>
        <span class="txt-12 mb-1">Regala una Gift card</span>
        <span class="txt-12">Evaluacion online de credito con Finaciera </span>
        <span class="txt-12">Efectiva</span>
      </div>
      <div class="d-flex flex-column mx-6">
        <span class="txt-14 text-secondary">TIENDA EFE</span>
        <hr class="my-2" />
        <span class="txt-12 mb-1">Quienes somos?</span>
        <span class="txt-12 mb-1">Nuestras tiedas</span>
        <span class="txt-12 mb-1">Beneficio de efe.com.pe</span>
        <span class="txt-12 mb-1">Trabaja con nosotros</span>
        <span class="txt-12 mb-1">Capacitaciones y colaboradores</span>
        <span class="txt-12 mb-1">Linea etica de comunicacion</span>
        <span class="txt-12 mb-1">Informacion al inversionista</span>
        <span class="txt-12 mb-1">Venta corporativa</span>
        <span class="txt-12 mb-1">Etiqueta de eficiencia enegetica</span>
        <span class="txt-12 mb-1">Vende tus productos</span>
        <span class="txt-12 mb-1">Clausulas Corporativas Contratacion</span>
      </div>
      <div class="d-flex flex-column mx-6 me-0">
        <span class="txt-14 text-secondary">COMPRA SEGURA</span>
        <hr class="my-2" />
        <span class="txt-12 mb-1">Centro de ayuda</span>
        <span class="txt-12 mb-1">Terminos y condiciones</span>
        <span class="txt-12 mb-1">Devoluciones, cambios y garantias</span>
        <span class="txt-12 mb-1">Como comprar?</span>
        <span class="txt-12 mb-1">Compra 100% segura</span>
        <span class="txt-12 mb-1">Libro de reclamaciones</span>
        <span class="txt-12 mb-4">Comprobante electronico</span>
        <span class="txt-14 text-secondary">SIGUENOS EN</span>
        <div class="d-flex mt-3">
          <img src="{{ imagesPath }}/facebook.svg" width="30px" class="me-1" />
          <img src="{{ imagesPath }}/youtube.svg" width="30px" class="me-1" />
          <img src="{{ imagesPath }}/instagram.svg" width="30px" class="me-1" />
        </div>
      </div>
    </div>
    <span class="txt-14 text-secondary mt-4"
      >Razón Social: CONECTA RETAIL S.A | RUC: 20141189850</span
    >
    <hr />
    <span class="txt14 text-secondary"
      >PAGA CON CREDITO, DEBITO Y EFECTIVO</span
    >
    <div class="d-flex g-3">
      <img
        src="https://www.efe.com.pe/media/wysiwyg/footer/visa.jpg"
        class="me-2"
        height="55rem"
      />
      <img
        src="https://www.efe.com.pe/media/wysiwyg/footer/mastercard.jpg"
        class="me-2"
        height="55rem"
      />
      <img
        src="https://www.efe.com.pe/media/wysiwyg/footer/american.jpg"
        class="me-2"
        height="55rem"
      />
      <img
        src="https://www.efe.com.pe/media/wysiwyg/footer/unica.jpg"
        class="me-2"
        height="55rem"
      />
      <img
        src="https://www.efe.com.pe/media/wysiwyg/footer/diners.jpg"
        class="me-2"
        height="55rem"
      />
      <img
        src="https://www.efe.com.pe/media/wysiwyg/footer/efectivo.jpg"
        class="me-2"
        height="55rem"
      />
    </div>
  </div>
</div>
